.categorySelector {
  color: white;
  cursor: pointer;

  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  position: relative;
}

.categorySelector:not(.nohover):hover {
  color: red;
  background-color: rgb(54, 54, 54);
}

.categorySelector .to-right {
  visibility: hidden;
}
.categorySelector:hover .to-right {
  visibility: visible;
}
