.oneSelector {
  color: white;
  cursor: pointer;

  height: 30px;
  vertical-align: middle;
  /*line-height: 30px;*/
}

.oneSelector:hover {
  background-color: rgb(54, 54, 54);
}

.current {
  background-color: rgb(54, 54, 54);
}
